<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Transfer</title>
<meta charset="ISO-8859-1">
<title>Transfer</title>
  <script>
function myFunction() {
  alert("Transfer Money ? ");
}
</script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
   <div>
    THE &nbsp;<span style="color: red">TEZZ &nbsp;</span> BANK
</div>
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" th:href = "@{/}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href = "@{/Feedback}">Feedback</a>
    </li>
  </ul>
</nav>
<br>
	<div class="container" style="text-align: center;">
		<div><h2>
    THE &nbsp;<span style="color: red">TEZZ&nbsp;</span> BANK</h2>
</div>
		<hr>
		<h2>Money Transfer</h2><br>

		<form th:action="@{/Transfersubmit}" method="POST" th:object="${customers}">
		
		<!-- Add hidden form field to handle update -->
			<input type="hidden" style="margin-left:35%;" th:field="*{email}" />
			
			
			<input type="text" th:field="*{name}" style="margin-left:35%;" name="sender"  class="form-control mb-4 col-4">		
				
			<input type="text"  style="margin-left:35%;" placeholder="Receiver" name="receiver" class="form-control mb-4 col-4">

			<input type="number" name="amount"  placeholder="Amount"  style="margin-left:35%;"  class="form-control mb-4 col-4">
				
		
		
		 <button type="submit"  onclick="myFunction()" class="btn btn-info col-2"> Transfer Money</button>
		</form>
		
		<hr>
		<br>
		<br>

		<a class="btn btn-warning col-2" th:href = "@{/}"> Back to Home</a>
	</div>
	<br>
		<br>
		<br>
		<marquee>
Done By : Sai Teja
</marquee>
</body>
</html>